.about {
	padding: 3.5rem 1rem;

	&__row {
		margin-bottom: 1rem;
		&__row_article {
			display: flex;
			flex-direction: column;
		}
	}

	&__col_sm {
		font-size: 1.25rem;
		font-weight: 600;
		margin-bottom: 1rem;
	}

	&__icon {
		margin-right: 1rem;
	}

	&__button {
		position: relative;
		margin-top: 1rem;
		color: #fff;
		background: #06a3da;

		&_text {
			z-index: 1;
			text-wrap: nowrap;
			font-weight: 600;
			font-size: 1rem;
			line-height: 1.5;
		}
	}

	&__button::after {
		content: '';
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		background-color: #ffffff43;
		border-color: transparent;
		border-radius: 2px;
		transform: scale(0.1);
		opacity: 0;
		transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
	}
	@media (hover: hover) {
		&__button:hover {
			transition: all 300ms ease;
			color: #000;
		}

		&__button:hover::after {
			opacity: 1;
			transform: scale(1);
		}
	}

	&__paragraph {
		margin-bottom: 1.5rem;
		color: #6b6a75;
	}

	&__image {
		max-width: 100%;
		margin-top: 3rem;
	}

	&__title_text {
		position: relative;
		padding-bottom: 1rem;
		margin-bottom: 3rem;
	}

	&__title_text::before {
		position: absolute;
		content: '';
		width: 9.375rem;
		height: 0.313rem;
		left: 0;
		bottom: 0;
		background: #06a3da;
		border-radius: 0.125rem;
	}

	&__title_text::after {
		position: absolute;
		content: '';
		width: 0.375rem;
		height: 0.313rem;
		bottom: 0;
		background: #ffffff;
		-webkit-animation: section-title-run 5s infinite linear;
		animation: section-title-run 5s infinite linear;
	}
}

@keyframes section-title-run {
	0% {
		left: 0;
	}

	50% {
		left: 9.063rem;
	}

	100% {
		left: 0;
	}
}

@media screen and (min-width: 48rem) {
	.about {
		padding: 4rem 1.5rem;

		&__row_article {
			display: flex;
			flex-direction: row;
		}

		&__article {
			flex: 1 1 21.75rem;
		}

		&__button {
			max-width: 15.384rem;
		}
	}
}

@media screen and (min-width: 62rem) {
	.about {
		display: flex;
		align-items: center;
		justify-content: center;
		max-width: 100%;
		padding: 6rem 0;

		&__breaker {
			max-width: 48.938rem;
			padding: 0 1.5rem;
		}

		&__image {
			margin-top: 0;
			min-width: 28.75rem;
			padding: 0 1.5rem;
		}
	}
}
